@tailwind base;
@tailwind components;
@tailwind utilities;


/* globals.css */

.arrow {
  position: absolute;
  top: 50%;
  font-size: 5rem;
  color: black;
  cursor: pointer;
  user-select: none;
}
#leftArrow {
  left: 10px;
}
#rightArrow {
  right: 10px;
}